/* 1. CONFIGURAÇÃO DA PÁGINA */
body {
  background-color: #000000;
  /* Azul marinho bem escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  gap: 30px;
}

/* 2. CAIXA PRINCIPAL */
.calculadora {
  background-color: #191e22;
  /* Azul escuro */
  padding: 20px;
  border-radius: 40px;
  width: 300px;
  box-shadow: 0 0 25px #163d5a;
  /* Sombra azulada */
  text-align: center;
}

.historico {
  padding: 50px;
  height: 400px;
  margin-left: 60px;
}

.titulo-historico {
  color: gray;
  padding: 3px;
}

.historico-conta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #163d5a;
  text-align: center;
}

/* 3. TÍTULO E HEADER */
.header-calculadora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-toggle {
  background-color: #495740;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-toggle:hover {
  background-color: #666d0b;
}

.calculadora h1#cabecalho {
  color: #e3f2fd;
  /* Azul bem claro */
  margin: 0;
}

.calculadora h1#cabecalho .titulo {
  font-size: 25px;
  text-align: center;
}

/* 4. VISOR */
#visor {
  width: 100%;
  height: 55px;
  font-size: 28px;
  text-align: right;
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: #495740;
  /* Azul médio */
  color: #ffffff;
  margin-bottom: 15px;
}

/* 5. TECLADO */
.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* 6. BOTÕES GERAIS */
.btn {
  height: 60px;
  font-size: 22px;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  background-color: #101416;
  color: white;
}

.btn:hover {
  background-color: #555;
  color: white;
}

/* 7. CORES ESPECÍFICAS */
.operador {
  background-color: #09531f;
}

.limpar {
  background-color: #09531f;
}

.igual {
  background-color: #1e527a;
}

/* 8. BOTÕES ESPECIAIS */
.zero {
  /*grid-column: span 2;*/
  border-radius: 15px;
}

.grande {
  grid-column: span 4;
  border-radius: 15px;
  height: 60px;
}

/* Painéis Laterais */
.funcao-cientifica,
.calculadora-historico {
  background-color: #191e22;
  /* Azul escuro */
  padding: 20px;
  border-radius: 40px;
  width: 300px;
  height: 500px;
  box-shadow: 0 0 25px #163d5a;
  /* Sombra azulada */
  text-align: center;
  display: none;
  /* Escondido por padrão */
  overflow-y: auto;
}

.funcao-cientifica h2,
.calculadora-historico h2 {
  color: #e3f2fd;
  font-size: 22px;
  margin-bottom: 20px;
}

.teclado-cientifico {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  color: white;
}

.conta-historico {
  text-align: center;
  font-style: italic;
  color: #b0d2ec;
}